.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
sys.config
rebar3.crashdump
checkrel_failures.txt
check_upgrade_failures.txt
rebar_debug.log
mnesia/