[
  {elvis, [
    {config, [
      #{dirs => ["src", "apps/*/src"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
          {elvis_style, line_length, #{limit => 84}},
          {elvis_style, dont_repeat_yourself, #{min_complexity => 13}},
          {elvis_style, operator_spaces, #{rules => [
            {right, ","},
%%            {right, "+"}, {left, "+"}, %% doesn't handle signed numbers like +34
%%            {right, "-"}, {left, "-"}, %% doesn't handle signed numbers like -34
%%            {right, "/"}, {left, "/"}, %% doesn't handle function references like start/2
            {right, "*"}, {left, "*"},
            {right, "++"}, {left, "++"},
            {right, "--"}, {left, "--"},

            {right, "=="}, {left, "=="},
            {right, "/="}, {left, "/="},
            {right, "=<"}, {left, "=<"},
            {right, "<"}, {left, "<"},
            {right, ">="}, {left, ">="},
            {right, ">"}, {left, ">"},
            {right, "=:="}, {left, "=:="},
            {right, "=/="}, {left, "=/="},

            {right, "="}, {left, "="},
            {right, "||"}, {left, "||"},
            {right, "->"}, {left, "->"}
          ]}}
        ]
      },
      #{dirs => ["test", "apps/*/test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
          {elvis_style, line_length, #{limit => 84}},
          {elvis_style, dont_repeat_yourself, #{min_complexity => 32}},
          {elvis_style, nesting_level, #{level => 4}},
          {elvis_style, variable_naming_convention, #{regex => "^([_A-Z][_0-9a-zA-Z]*)$"}},
          {elvis_style, operator_spaces, #{rules => [
            {right, ","},
%%            {right, "+"}, {left, "+"}, %% doesn't handle signed numbers like +34
%%            {right, "-"}, {left, "-"}, %% doesn't handle signed numbers like -34
%%            {right, "/"}, {left, "/"}, %% doesn't handle function references like start/2
            {right, "*"}, {left, "*"},
            {right, "++"}, {left, "++"},
            {right, "--"}, {left, "--"},
            {right, "=="}, {left, "=="},
            {right, "/="}, {left, "/="},
            {right, "=<"}, {left, "=<"},
            {right, "<"}, {left, "<"},
            {right, ">="}, {left, ">="},
            {right, ">"}, {left, ">"},
            {right, "=:="}, {left, "=:="},
            {right, "=/="}, {left, "=/="},
            {right, "="}, {left, "="},
            {right, "||"}, {left, "||"},
            {right, "->"}, {left, "->"}
          ]}}
        ]
      },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
      },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
      },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
      }
    ]}
  ]}
].
