{deps, [{edate, {git, "git@github.com:dweldon/edate.git",
                      {branch, "master"}}}]}.

{alias, [{test, [eunit,
                 {ct, "--sname ct --sys_config=config/sys.config --readable true --cover --verbose true"},
                 cover]},
         {tall, [eunit,
                 {ct, "--sname ct --sys_config=config/sys.config --readable true --cover --verbose true"},
                 lint, xref, cover, dialyzer, release,
                 check_deps]}]}.


{cover_enabled, true}.

{cover_excl_dirs, []}.

{cover_excl_mods, []}.

{cover_opts, [verbose]}.

{ct_opts, [{ct_hooks, [{cth_surefire, [{path, "report.xml"}]}]}]}.

{deps_warning_on_conflict, false}.

{dialyzer, [{plt_apps, all_deps}]}.

{dist_node, []}.

{erl_opts, [warn_unused_vars, warn_export_all, warn_shadow_vars,
            warn_unused_import, warn_unused_function, warn_bif_clash,
            warn_unused_record, warn_deprecated_function, warn_obsolete_guard,
            strict_validation, warn_export_vars, warn_exported_vars,
            warn_missing_spec, warn_untyped_record, warnings_as_errors,
            debug_info]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./_build/test"}]}}]}.

{plugins, [rebar3_run]}.

{post_hooks, [{ct, "ps auxw | grep \"rebar3 tall\" | grep -v grep > /dev/null && elvis rock || echo 'Skipping Elvis...'"}]}.

{profiles,
 [{prod,
   [{erl_opts, [{d, 'PROD'}]},
    {relx, [{dev_mode, false}, {include_erts, true}]}]},
  {test,
   [{erl_opts,
     [nowarn_export_all, debug_info, nowarn_missing_spec,
      nowarn_unused_vars]},
    {deps,
     [meck]}]}]}.

{project_plugins,
 [rebar3_lint]}.

{provider_hooks, [{pre, [{upgrade, update},
                         {upgrade, update_default_rebar_config},
                         {upgrade, generate_rebar_config},
                         {upgrade, refresh_plugins},
                         {release, {appup, compile}},
                         {tar, {appup, tar}}]},
                  {post, [{clean, {appup, clean}},
                          {relup, {sappan, check_upgrade}}]}]}.

{rebar3_mirroring, [{remote_config, mirroring_default_config}]}.

{relx, [{extended_start_script, true},
        {release, {wms_state, {semver, []}}, [wms_state]},
        {dev_mode, true},
        {include_erts, false}]}.

{sappan, [{include_erts, false},
          {arity_file, "api_arities.txt"},
          {fail_on_errors, true},
          {release_checks, [chkrel_appmods, chkrel_appnames, chkrel_calls,
                            chkrel_relup_order, chkrel_upgrade_order]},
          {upgrade_checks, []}]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

